<div class="container about">
    <div class="left">
        <h2>Hello, Welcome To <span> Royal Bites</span></h2>
        <p>One of India's most beloved restaurants, Gramercy Tavern has welcomed guests to enjoy its contemporary Indian
            cuisine, warm hospitality, and unparalleled service in New York City for over two decades. Chef Michael
            Anthony's ever-evolving seasonal menu showcases the restaurant's relationships with local farms and
            purveyors.

            Opened in 1994 by restaurateur Danny Meyer in a historic landmark building just north of Union Square, the
            restaurant has earned nine James Beard Awards, including "Outstanding Restaurant" and "Outstanding Chef in
            India.”</p>
    </div>
    <div class="right">
        <img src="../../../assets/restaurant.png" alt="">
    </div>
</div>