<header class="container-fluid  sticky-top d-flex justify-content-between">
    <div class="left_header d-flex justify-content-evenly">

        <div class="logo" routerLink="/"><img src="../../../assets/Royal_Bites_Logo.jpg" alt="" style="background-size: cover; height:5rem; width:5rem"></div>
        <div class="name">
            <h3 class="rest_name" routerLink="/">Royal Bites</h3>
        </div>
    </div>
    <nav class="links">
        <ul class="d-flex justify-content-end">
            <ng-container *ngIf="!authService.IsLoggedIn()">
                <li><a routerLink="/login"><i class="far fa-sign-in"></i> Login</a></li>
            </ng-container>
            <ng-container *ngIf="authService.IsLoggedIn()">
                <li><a (click)="logout()"><i class="far fa-sign-out"></i> Logout</a></li>
            </ng-container>
            <div class="header">
                <div class="dropdown " (click)="status=!status"  
                [ngClass]="status ? 'active' : 'danger'">
                    <button class="link">RB-Options <i class="far fa-caret-down"></i></button>
                    <div class="dropdown-menu information-grid">
                        <div>
                            <div class="dropdown-links">
                                <a href="#" class="link">All</a>
                                <a href="#" class="link">Latest</a>
                                <a href="#" class="link">Popular</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <li><a routerLink="">RB-Options <i class="far fa-caret-down"></i></a></li> -->
            <li><a (click)="cart()"><i class="far fa-shopping-cart"></i> Cart <span *ngIf="cartService.getCartLength()">
                        {{cartService.getCartLength()}}</span></a></li>
        </ul>
    </nav>
</header>