@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hind&display=swap");



.card {
  margin: 15px;
  width: 400px;
  padding: 0;
  border-radius: 20px;
  box-shadow: none;
  transition: 300ms ease;
  /* border: 3px solid rgb(236, 107, 56); */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


.favorite {
  font-size: 20px;
}

.card h4,
.favorite {
  color: rgb(236, 107, 56);
}

.card:hover {
  border: 1px solid rgb(236, 107, 56);
  box-shadow: 0px 4px 10px rgba(236, 107, 56, 0.2);
}
.left, .right{
  padding: 5px 8px;
  border-radius: 5px;
}
.card_btn .left{
  background-color: #fff;
  border: 2px solid rgb(236, 107, 56);
}
.card_btn .left:hover{
  background-color: rgb(236, 107, 56);
  color: #fff;
}
.card_btn .right{
  background-color: rgb(236, 107, 56);
  color: #fff;
  border: 2px solid rgb(236, 107, 56);
}
.card_btn .right:hover{
  background-color: #fff;
  border: 2px solid rgb(236, 107, 56);
  color: #000;
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.img {
  padding: 8px;
}

img {
  width: 100%;
  height: 250px;
  border-radius: 20px 20px 0 0;
}

.content {
  margin: 8px;
  border: 3px solid #000;
  border-radius: 0 0 20px 20px;
  padding: 5px !important;
}

/* === */
.form {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  padding: 20px auto;
}
.tags{
  display: flex;
}
.tag{
  margin: 0 10px 0 0;
}
.tag button{
  border: 2px solid rgb(236, 107, 56);
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  transition: 200ms ease;
}
.tag button:hover{  
  color: #fff;
  background-color: rgb(236, 107, 56);
}
.input-group{
  display: flex;
  margin-bottom: 10px;
}

.input {
  padding: 10px;
  border: none;
  border-radius: 4px 4px;
  font-family: inherit;
  color: rgb(236, 107, 56);
  background-color: transparent;
  outline: 2px solid #000;
  width: 400px;
}

.input-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10px, 10px);
  transition: transform .25s;
  font-family: "Orbitron", sans-serif;
}

.input:focus+.input-label,
.input:valid+.input-label {
  transform: translate(10px, -14px) scale(.8);
  color: rgb(236, 107, 56);
  background-color: #fff;
  padding: 0 4px;
}

.input:is(:focus, :valid) {
  outline-color: rgb(236, 107, 56);
}