<div class="container-fluid">
    <div class="container d-flex justify-content-between">
        <div class="left_footer">
            <h4>Get news & offer</h4>
            <p>Sign up for our mailing list to get latest update and offers</p>
            <div class="mail">
                <input type="email" placeholder="Your Email">
                <button><i class="fas fa-arrow-right"></i></button>
            </div>
            <p>* Don't worry, we never spam</p>
        </div>
        <div class="center_footer">
            <div class="image">
                <img src="../../../assets/Royal_Bites_Logo.jpg" alt="logo" class="logo">
            </div>
            <p>004 Riley Street, Surry Hills 2050 Sydney, Australia</p>
            <p>Email: <span> info@royalbites.com</span></p>
            <p>Phone: <span> +455 45 454555</span></p>
        </div>
        <div class="right_footer">
            <h4>Opening Time</h4>
            <p>Monday - Friday: <span> 08:00 am - 08:30 pm</span></p>
            <p>Saturday - Sunday: <span> 10:00 am - 16:30 pm</span></p>
        </div>
    </div>
    <hr>
    <div class="container ">
        <div class="socials bottom d-flex justify-content-center">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-twitter"></i>
        </div>
        <div class="copyright">
            <p>© 2022 Royal Bites. Made by <span> @CodeWithSachin</span></p>
        </div>
    </div>
</div>