/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
/* text-shadow: 4px 4px 4px #aaa; */

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}


li {
    list-style: none;
}